/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--background-gray);
  padding: 181px 221px 212px 220px;
  color: var(--ifm-color-primary);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
}

.secondHalfHeroBannerTitle {
  color: var(--black);
}

.howItWorks__title {
  color: var(--black);
  font-size: 1.75rem;
  padding: 48px 24px 12px;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
}

.howItWorks__description {
  margin-bottom: 48px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.hero__title {
  color: var(--ifm-color-primary);
}
